.root {
  margin-top: 1em;
}
.name {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0.83em 0 1em 0;
}

.barBorder {
  height: 1em;
  border: 1px solid;
}

.bar {
  height: 100%;
  background-color: #fff;
}
