.root {
  text-align: center;
  padding: 3rem 0 3rem 0;
  border-bottom: 1px solid #fff;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.position {
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 1rem;
}
